body {
  font-family: Arial;
  background: #e7ecf3;
  margin: 0;
  padding: 20px;
}

.title {
  text-align: center;
}

.container {
  display: flex;
  margin-top: 20px;
}

/* LEFT */
.editor {
  width: 65%;
  display: flex;
  flex-direction: column;
}

input {
  padding: 12px;
  font-size: 18px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

textarea {
  height: 250px;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  resize: none;
}

.buttons {
  margin-top: 10px;
}

button {
  padding: 10px 15px;
  margin-right: 5px;
  border: none;
  border-radius: 6px;
  background: #4CAF50;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #45a049;
}

/* RIGHT */
.sidebar {
  width: 35%;
  margin-left: 20px;
  background: white;
  border-radius: 10px;
  padding: 10px;
  height: 350px;
  overflow-y: auto;
}

.sidebar li {
  display: flex;
  justify-content: space-between; /* pushes title left, icons right */
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #eee;
}

.sidebar li:hover {
  background: #f0f0f0;
}

.active { /*if an element has active, apply this style*/
  background: #dfe6ff;
}

.icons {
  display: flex;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.2s ease;
}


.sidebar li:hover .icons {
  opacity: 1;
  pointer-events: auto; /* allow clicks */
}

.edit-icon,
.delete-icon{
  cursor: pointer;
  display:inline-block;
  transition:transform 0.2s ease;
}

.edit-icon:hover{
  transform: scale(1,2);
}

.delete-icon:hover {
  transform: scale(1.2);
  color: red;
}

.search-box{
  display: flex;
  align-items: center;
  background: white;
  padding:8px;
  border-radius:10px;
  border: 1px solid #ccc;
  margin:10px;
}

.search-icon{
  margin-left: 8px;
  font-size:16px;
  color:grey;
}

#searchInput {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
}

